body, html {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#card {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#img_h img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input, button {
    padding: 5px;
    margin-bottom: 10px;
    width: 400px;
}

button {
    background-color:rgb(71, 179, 71);
    color: white;
    border: none;
}