body, html {
    margin: 0;
    padding: 0;
    background-color: tan;
}

table {
    margin: auto;
    text-align: center;
}

td {
    width: 100px;
}

.play, .comp, .vs, #result {
    margin-top: 20px;
    font-size: large;
    font-weight: bold;
}

.play {
    color: red;
}

.comp {
    color: blue;
}

.vs {
    margin-top: 100px;
    margin-bottom: 100px;
}

#result {
    color: firebrick;
}